@page
@model NeverFoundry.Wiki.MVCSample.Pages.AdminPortalModel

@inject UserManager<WikiUser> UserManager

@{
    ViewData["Title"] = "Admin";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container d-flex flex-column">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <p class="lead">There are currently <strong class="text-primary">@Model.UserCountTotal.ToString("N0")</strong> total registered users.</p>
        <div class="container-fluid ml-1">
            <div class="row justify-content-center">
                <div class="col-2">Active users:</div>
                <div class="col-1"><strong class="text-success">@Model.UserCountActive.ToString("N0")</strong></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-2">Inactive users:</div>
                <div class="col-1"><strong class="text-muted">@Model.UserCountInactive.ToString("N0")</strong></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-2">Disabled users:</div>
                <div class="col-1"><strong class="text-warning">@Model.UserCountDisabled.ToString("N0")</strong></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-2">Deleted users:</div>
                <div class="col-1"><strong class="text-danger">@Model.UserCountDeleted.ToString("N0")</strong></div>
            </div>
        </div>
    </div>
</div>
<partial name="_ErrorMessage" for="ErrorMessage" />
<partial name="_StatusMessage" for="StatusMessage" />
@if ((Model.Users?.Count ?? 0) > 0)
{
    <div class="row justify-content-center mb-3">
        <div class="col-sm-10">
            <ul class="list-group d-flex flex-wrap">
                @foreach (var user in Model.Users!)
                {
                    <li class="list-group-item">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col-auto d-flex align-items-start">
                                    <h5 class="mb-1 @(user.User.LastAccess.AddYears(1) < DateTimeOffset.UtcNow ? "text-muted" : string.Empty)">@user.User.UserName</h5>
                                    @if (user.Claims.HasBoolClaim(Constants.Claim_SiteAdmin))
                                    {
                                        <span class="badge badge-pill badge-primary">
                                            <i class="material-icons">star</i>
                                            <span class="sr-only">site admin</span>
                                        </span>
                                    }
                                    else if (Model.IsSiteAdmin)
                                    {
                                        if (user.Claims.HasBoolClaim(Constants.Claim_WikiAdmin))
                                        {
                                            @if (user.Claims.HasBoolClaim(Constants.Claim_SiteAdmin))
                                            {
                                                <form method="post" asp-page-handler="RemoveWikiAdmin" style="display: inline-block">
                                                    <input type="hidden" value="@user.User.Id" />
                                                    <button type="submit" class="btn btn-warning" title="Wiki admin (click to remove)">
                                                        <i class="material-icons">star</i>
                                                        <span class="sr-only">is a wiki admin</span>
                                                    </button>
                                                </form>
                                            }
                                            else
                                            {
                                                <span class="badge badge-pill badge-warning" title="Wiki admin">
                                                    <i class="material-icons">star</i>
                                                    <span class="sr-only">is a wiki admin</span>
                                                </span>
                                            }
                                        }
                                        else if (!user.User.IsDeleted)
                                        {
                                            @if (user.Claims.HasBoolClaim(Constants.Claim_SiteAdmin))
                                            {
                                                <form method="post" asp-page-handler="AddWikiAdmin" style="display: inline-block">
                                                    <input type="hidden" value="@user.User.Id" />
                                                    <button type="submit" class="btn btn-light" title="Not a wiki admin (click to add)">
                                                        <i class="material-icons">star</i>
                                                        <span class="sr-only">not a wiki admin</span>
                                                    </button>
                                                </form>
                                            }
                                            else
                                            {
                                                <span class="badge badge-pill badge-light" title="Not a wiki admin">
                                                    <i class="material-icons">star</i>
                                                    <span class="sr-only">not a wiki admin</span>
                                                </span>
                                            }
                                        }
                                    }
                                </div>
                                <div class="col-auto d-flex">
                                    @user.User.Email @if (user.User.EmailConfirmed)
                                    {<span class="text-success">✓</span>}
                                </div>
                                <div class="col-auto mr-auto">
                                    @if (user.User.LastAccess.AddYears(1) < DateTimeOffset.UtcNow)
                                    {
                                        <small class="text-muted">Last access: @(user.User.LastAccess == DateTime.MinValue ? "Never" : user.User.LastAccess.ToString("Y"))</small>
                                    }
                                </div>
                                @if (!user.User.IsDeleted)
                                {
                                    <div class="col-auto">
                                        @if (user.User.IsDisabled)
                                        {
                                            <form method="post" asp-page-handler="EnableUser" style="display: inline-block">
                                                <input type="hidden" value="@user.User.Id" />
                                                <span class="text-danger">Account disabled</span>
                                                <button type="submit" class="btn btn-outline-danger">Enable</button>
                                            </form>
                                        }
                                        else if (user.Claims.HasBoolClaim(Constants.Claim_SiteAdmin) != true
                                            && user.Claims.HasBoolClaim(Constants.Claim_WikiAdmin) != true)
                                        {
                                            <form method="post" asp-page-handler="DisableUser" style="display: inline-block">
                                                <input type="hidden" value="@user.User.Id" />
                                                <button type="submit" class="btn btn-danger">Disable</button>
                                            </form>
                                        }
                                    </div>
                                }
                                <div class="col-auto">
                                    @if (user.User.IsDeleted)
                                    {
                                        <span class="text-danger">Account deleted</span>
                                    }
                                    else if (user.Claims.HasBoolClaim(Constants.Claim_SiteAdmin) != true
                                        && user.Claims.HasBoolClaim(Constants.Claim_WikiAdmin) != true)
                                    {
                                        <a class="btn btn-danger" asp-page="./Account/ConfirmAdminDelete" asp-route-userId="@user.User.Id">
                                            Delete <i class="material-icons">warning</i>
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
}
<div class="row justify-content-center mb-3">
    <div class="col-sm-10">
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item @(Model.CurrentPage == 0 ? "disabled" : string.Empty)">
                    <a class="page-link" asp-page="./AdminPortal" asp-route-page="@(Model.CurrentPage - 1)" asp-route-count="@Model.ItemsPerPage" aria-label="Previous" aria-disabled="@(Model.CurrentPage == 0)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @if (Model.PageCount > 5 && Model.CurrentPage > 3)
                {
                    <li class="page-item">
                        <a class="page-link" asp-page="./AdminPortal" asp-route-page="@(Model.CurrentPage - 5)" asp-route-count="@Model.ItemsPerPage">&hellip;</a>
                    </li>
                }
                @for (var i = Math.Max(0L, Model.CurrentPage - 2); i < Math.Min(Model.PageCount - 1, Model.CurrentPage + 2); i++)
                {
                    @if (Model.CurrentPage == i)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="#" aria-disabled="true">@i <span class="sr-only">(current)</span></a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-page="./AdminPortal" asp-route-page="@i" asp-route-count="@Model.ItemsPerPage">@i</a>
                        </li>
                    }
                }
                @if (Model.PageCount > 5 && Model.CurrentPage < Model.PageCount - 3)
                {
                    <li class="page-item">
                        <a class="page-link" asp-page="./AdminPortal" asp-route-page="@(Model.CurrentPage + 5)" asp-route-count="@Model.ItemsPerPage">&hellip;</a>
                    </li>
                }
                <li class="page-item @(Model.CurrentPage == Model.PageCount ? "disabled" : string.Empty)">
                    <a class="page-link" asp-page="./AdminPortal" asp-route-page="@(Model.CurrentPage + 1)" asp-route-count="@Model.ItemsPerPage" aria-label="Next" aria-disabled="@(Model.CurrentPage == Model.PageCount)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
