@model SpecialListViewModel

<p>@Model.Description</p>
@if (!string.IsNullOrEmpty(Model.SecondaryDescription))
{
    <p>@Html.Raw(Model.SecondaryDescription)</p>
}
<div class="wiki-list-controls">
    <form asp-controller="Wiki" asp-route-isCompact="@Model.Data.IsCompact" asp-action="GetSpecialList" asp-route-pageNumber="" method="get">
        <input type="hidden" name="type" value="@Model.Type.ToString()" />
        <div class="form-group">
            <label for="wiki-list-sort">Sort by</label>
            <select id="wiki-list-sort" class="custom-select" name="sort">
                @if (Model.Sort == "timestamp")
                {
                    <option value="">Alphabetical</option>
                    <option selected value="timestamp">Last revision date/time</option>
                }
                else
                {
                    <option selected value="">Alphabetical</option>
                    <option value="timestamp">Last revision date/time</option>
                }
            </select>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="descending" id="wiki-list-descending-false" value="@(Model.Descending ? null : "true")" checked="@(Model.Descending ? null : "checked")" />
            <label class="form-check-label" for="wiki-list-descending-false">Ascending</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="descending" id="wiki-list-descending-true" value="@(Model.Descending ? "true" : null)" checked="@(Model.Descending ? "checked" : null)" />
            <label class="form-check-label" for="wiki-list-descending-true">Descending</label>
        </div>
        <div class="form-group">
            <label for="wiki-list-filter-input">Display entries starting with:</label>
            <input id="wiki-list-filter-input"
                   class="form-control"
                   type="text"
                   name="filter"
                   autocomplete="off"
                   maxlength="255"
                   value="@(Model.Filter)" />
        </div>
        <button type="submit" class="btn btn-primary">Show</button>
    </form>
</div>
<div class="wiki-pagecontrols">
    @if (Model.MissingItems is null)
    {
        <nav>
            @if (Model.Items.HasPreviousPage)
            {
                <span><a asp-route-pageNumber="1">First</a></span>
                <span><a asp-route-pageNumber="@(Model.Items.PageNumber - 1)">Previous</a></span>
            }
            else
            {
                <span>First</span>
                <span>Previous</span>
            }
            @if (Model.Items.HasNextPage)
            {
                <span><a asp-route-pageNumber="@(Model.Items.PageNumber + 1)">Next</a></span>
                <span><a asp-route-pageNumber="@Model.Items.TotalPages">Last</a></span>
            }
            else
            {
                <span>Next</span>
                <span>Last</span>
            }
        </nav>
        <div>
            <span>Number of items per page:</span>
            <ul>
                <li>
                    @if (Model.Items.PageSize == 50)
                    {
                        <span>50</span>
                    }
                    else
                    {
                        <a asp-route-pageSize="50">50</a>
                    }
                </li>
                <li>
                    @if (Model.Items.PageSize == 100)
                    {
                        <span>100</span>
                    }
                    else
                    {
                        <a asp-route-pageSize="100">100</a>
                    }
                </li>
                <li>
                    @if (Model.Items.PageSize == 250)
                    {
                        <span>250</span>
                    }
                    else
                    {
                        <a asp-route-pageSize="250">250</a>
                    }
                </li>
                <li>
                    @if (Model.Items.PageSize == 500)
                    {
                        <span>500</span>
                    }
                    else
                    {
                        <a asp-route-pageSize="500">500</a>
                    }
                </li>
            </ul>
        </div>
    }
    else
    {
        <nav>
            @if (Model.MissingItems.HasPreviousPage)
            {
                <span><a asp-route-pageNumber="1">First</a></span>
                <span><a asp-route-pageNumber="@(Model.MissingItems.PageNumber - 1)">Previous</a></span>
            }
            else
            {
                <span>First</span>
                <span>Previous</span>
            }
            @if (Model.MissingItems.HasNextPage)
            {
                <span><a asp-route-pageNumber="@(Model.MissingItems.PageNumber + 1)">Next</a></span>
                <span><a asp-route-pageNumber="@Model.MissingItems.TotalPages">Last</a></span>
            }
            else
            {
                <span>Next</span>
                <span>Last</span>
            }
        </nav>
        <div>
            <span>Number of items per page:</span>
            <ul>
                <li>
                    @if (Model.MissingItems.PageSize == 50)
                    {
                        <span>50</span>
                    }
                    else
                    {
                        <a asp-route-pageSize="50">50</a>
                    }
                </li>
                <li>
                    @if (Model.MissingItems.PageSize == 100)
                    {
                        <span>100</span>
                    }
                    else
                    {
                        <a asp-route-pageSize="100">100</a>
                    }
                </li>
                <li>
                    @if (Model.MissingItems.PageSize == 250)
                    {
                        <span>250</span>
                    }
                    else
                    {
                        <a asp-route-pageSize="250">250</a>
                    }
                </li>
                <li>
                    @if (Model.MissingItems.PageSize == 500)
                    {
                        <span>500</span>
                    }
                    else
                    {
                        <a asp-route-pageSize="500">500</a>
                    }
                </li>
            </ul>
        </div>
    }
</div>
@if (Model.Items.Count > 0 || Model.MissingItems?.Count > 0)
{
    <div id="wiki-list-articles">
        <ul>
            @if (Model.MissingItems is null)
            {
                foreach (var item in Model.Items)
                {
                    <li>
                        <a href="@Url.Action("Read", new { isCompact = false, title = item.Title, wikiNamespace = item.WikiNamespace })" class="wiki-link wiki-link-exists">
                            @if (!string.Equals(item.WikiNamespace, WikiConfig.DefaultNamespace, StringComparison.OrdinalIgnoreCase))
                            {
                                <span class="wiki-link-namespace">@item.WikiNamespace</span>
                            }
                            <span class="wiki-link-title">@item.Title</span>
                            @if (item is Category category)
                            {
                                <span class="wiki-link-details">(@category.ChildIds.Count.ToString("N0") members)</span>
                            }
                            else if (item is WikiFile file)
                            {
                                <span class="wiki-link-details">(file size: @(WikiFile.GetFileSizeString(file.FileSize)), MIME type: @file.FileType)</span>
                            }
                        </a>
                    </li>
                }
            }
            else
            {
                foreach (var item in Model.MissingItems)
                {
                    <li>
                        <a href="@Url.Action("Read", new { isCompact = false, title = item.Title, wikiNamespace = item.WikiNamespace })" class="wiki-link wiki-link-missing">
                            @if (!string.Equals(item.WikiNamespace, WikiConfig.DefaultNamespace, StringComparison.OrdinalIgnoreCase))
                            {
                                <span class="wiki-link-namespace">@item.WikiNamespace</span>
                            }
                            <span class="wiki-link-title">@item.Title</span>
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
}
<div class="wiki-pagecontrols">
    @if (Model.MissingItems is null)
    {
        <nav>
            @if (Model.Items.HasPreviousPage)
            {
                <span><a asp-route-pageNumber="1">First</a></span>
                <span><a asp-route-pageNumber="@(Model.Items.PageNumber - 1)">Previous</a></span>
            }
            else
            {
                <span>First</span>
                <span>Previous</span>
            }
            @if (Model.Items.HasNextPage)
            {
                <span><a asp-route-pageNumber="@(Model.Items.PageNumber + 1)">Next</a></span>
                <span><a asp-route-pageNumber="@Model.Items.TotalPages">Last</a></span>
            }
            else
            {
                <span>Next</span>
                <span>Last</span>
            }
        </nav>
        <div>
            <span>Number of items per page:</span>
            <ul>
                <li>
                    @if (Model.Items.PageSize == 50)
                    {
                        <span>50</span>
                    }
                    else
                    {
                        <a asp-route-pageSize="50">50</a>
                    }
                </li>
                <li>
                    @if (Model.Items.PageSize == 100)
                    {
                        <span>100</span>
                    }
                    else
                    {
                        <a asp-route-pageSize="100">100</a>
                    }
                </li>
                <li>
                    @if (Model.Items.PageSize == 250)
                    {
                        <span>250</span>
                    }
                    else
                    {
                        <a asp-route-pageSize="250">250</a>
                    }
                </li>
                <li>
                    @if (Model.Items.PageSize == 500)
                    {
                        <span>500</span>
                    }
                    else
                    {
                        <a asp-route-pageSize="500">500</a>
                    }
                </li>
            </ul>
        </div>
    }
    else
    {
        <nav>
            @if (Model.MissingItems.HasPreviousPage)
            {
                <span><a asp-route-pageNumber="1">First</a></span>
                <span><a asp-route-pageNumber="@(Model.MissingItems.PageNumber - 1)">Previous</a></span>
            }
            else
            {
                <span>First</span>
                <span>Previous</span>
            }
            @if (Model.MissingItems.HasNextPage)
            {
                <span><a asp-route-pageNumber="@(Model.MissingItems.PageNumber + 1)">Next</a></span>
                <span><a asp-route-pageNumber="@Model.MissingItems.TotalPages">Last</a></span>
            }
            else
            {
                <span>Next</span>
                <span>Last</span>
            }
        </nav>
        <div>
            <span>Number of items per page:</span>
            <ul>
                <li>
                    @if (Model.MissingItems.PageSize == 50)
                    {
                        <span>50</span>
                    }
                    else
                    {
                        <a asp-route-pageSize="50">50</a>
                    }
                </li>
                <li>
                    @if (Model.MissingItems.PageSize == 100)
                    {
                        <span>100</span>
                    }
                    else
                    {
                        <a asp-route-pageSize="100">100</a>
                    }
                </li>
                <li>
                    @if (Model.MissingItems.PageSize == 250)
                    {
                        <span>250</span>
                    }
                    else
                    {
                        <a asp-route-pageSize="250">250</a>
                    }
                </li>
                <li>
                    @if (Model.MissingItems.PageSize == 500)
                    {
                        <span>500</span>
                    }
                    else
                    {
                        <a asp-route-pageSize="500">500</a>
                    }
                </li>
            </ul>
        </div>
    }
</div>
