@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Configure authenticator app";
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="placard">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>To use an authenticator app please complete the following steps:</p>
</div>
<div class="row justify-content-center mb-3">
    <div class="col-sm-6">
        <ol class="list">
            <li>
                <p>
                    Obtain a two-factor authenticator app like Google Authenticator for
                    <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> and
                    <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>, or Microsoft Authenticator for
                    <a href="https://go.microsoft.com/fwlink/?Linkid=825071">Windows Phone</a>,
                    <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> and
                    <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a>.
                </p>
            </li>
            <li>
                <p>
                    Scan the QR Code below with your authenticator app
                    <span><em>or</em> enter the following key in the authenticator app. Spaces and case don't matter.</span><br />
                    <span><kbd>@Model.SharedKey</kbd></span>
                </p>
                <div class="p-3" style="width: 150px; width: -moz-fit-content; width: fit-content; background-color: white;">
                    <div id="qrCode" style="width: 150px; width: -moz-fit-content; width: fit-content;"></div>
                </div>
                <div id="qrCodeData" data-url="@Html.Raw(@Model.AuthenticatorUri)"></div>
            </li>
            <li>
                <p>
                    Once you have scanned the QR code or input the key above, your two factor authentication app will provide you
                    with a unique code. Enter the code in the confirmation box below.
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <form id="send-code" method="post">
                            <div class="form-group">
                                <label asp-for="Input.Code" class="control-label">Verification Code</label>
                                <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                                <span asp-validation-for="Input.Code" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Verify</button>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </form>
                    </div>
                </div>
            </li>
        </ol>
    </div>
</div>

@section Scripts {
    <script src="js/qrcodejs/qrcode.min.js"></script>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"), {
            text: "@Html.Raw(Model.AuthenticatorUri)",
            width: 150,
            height: 150
        });
    </script>
}
