@page
@model LoginModel

@{
    ViewData["Title"] = "Sign in";
}

<div class="placard">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
<div class="row justify-content-center mb-3">
    <div class="col-sm-6">
        <section>
            <form id="account" method="post">
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) > 0)
                    {
                        <h4>Use a local account to log in.</h4>
                        <hr />
                    }
                }
                <div asp-validation-summary="All" class="text-danger"></div>
                <div>
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
                <div>
                    <p>
                        <a asp-page="./LoginFido2Mfa">Use authenticator device</a>
                    </p>
                    <p>
                        <a asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                </div>
                <hr />
                <div>
                    <p>
                        New here? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register a new account</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    @{
        if ((Model.ExternalLogins?.Count ?? 0) > 0)
        {
            <div class="col-sm-6">
                <section>
                    <h4>Use another service to log in.</h4>
                    <hr />
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                </section>
            </div>
        }
    }
</div>
