@model WikiItemViewModel
@inject IWikiOptions WikiOptions
@inject IWikiMvcOptions WikiMvcOptions

<div class="wiki-site-subtitle">From @WikiOptions.SiteName</div>
@if (Model.IsDiff)
{
    <div class="wiki-parser-output wiki-diff">@Html.Raw(Model.Html)</div>
}
else
{
    if (Model.Data.WikiItem is not null)
    {
        var frontmatter = WikiMvcOptions.GetArticleFrontMatter(Model.Data.WikiItem);
        if (!string.IsNullOrEmpty(frontmatter))
        {
            <partial name="@frontmatter" model="Model.Data.WikiItem" />
        }
    }
    <div class="wiki-parser-output">@Html.Raw(Model.Html)</div>
    if (Model.Data.WikiItem is not null)
    {
        var endmatter = WikiMvcOptions.GetArticleEndMatter(Model.Data.WikiItem);
        if (!string.IsNullOrEmpty(endmatter))
        {
            <partial name="@endmatter" model="Model.Data.WikiItem" />
        }
    }
}
