@model CategoryViewModel

<div class="wiki-site-subtitle">From @WikiConfig.SiteName</div>
@if (Model.IsDiff)
{
    <div class="wiki-parser-output wiki-diff">@Html.Raw(Model.Html)</div>
}
else
{
    <div class="wiki-parser-output">@Html.Raw(Model.Html)</div>
}
@if ((Model.Subcategories?.Count ?? 0) > 0)
{
    <h2>Subcategories</h2>
    <p>This category has the following @($"{Model.Subcategories!.Count:N0}") subcategories.</p>
    <div class="wiki-category-list wiki-category-sub-list">
        @foreach (var group in Model.Subcategories)
        {
            <div class="wiki-category-group">
                <h3>@group.Key</h3>
                <ul>
                    @foreach (var item in group)
                    {
                        <li class="wiki-category-sub">
                            <a href="@Url.Action("Read", new { isCompact = Model.Data.IsCompact, title = item.Title, wikiNamespace = WikiConfig.CategoryNamespace })">@item.Title</a>
                            (@($"{item.Count:N0}") members)
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
}
@if ((Model.Articles?.Count ?? 0) > 0)
{
    <h2>Pages in @Model.Data.Title</h2>
    <p>The following @($"{Model.Articles!.Count:N0}") pages are in this category.</p>
    <div class="wiki-category-list wiki-category-articles-list">
        @foreach (var group in Model.Articles)
        {
            <div class="wiki-category-group">
                <h3>@group.Key</h3>
                <ul>
                    @foreach (var item in group)
                    {
                        <li class="wiki-category-article">
                            <a href="@Url.Action("Read", new { isCompact = Model.Data.IsCompact, title = item.Title, wikiNamespace = item.WikiNamespace })">@item.FullTitle</a>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
}
@if ((Model.Files?.Count ?? 0) > 0)
{
    <h2>Files in @Model.Data.Title</h2>
    <p>The following @($"{Model.Files!.Count:N0}") files are in this category.</p>
    <div class="wiki-category-list wiki-category-file-list">
        @foreach (var group in Model.Files)
        {
            <div class="wiki-category-group">
                <h3>@group.Key</h3>
                <ul>
                    @foreach (var item in group)
                    {
                        <li class="wiki-category-file">
                            <a href="@Url.Action("Read", new { isCompact = Model.Data.IsCompact, title = item.Title, wikiNamespace = WikiConfig.FileNamespace })">@item.Title</a>
                            (@WikiFile.GetFileSizeString(item.Size))
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
}
@if ((Model.Subcategories?.Count ?? 0) == 0
    && (Model.Articles?.Count ?? 0) == 0
    && (Model.Files?.Count ?? 0) == 0)
{
    <h2>Empty Category</h2>
    <p>There is nothing in this category.</p>
}
