@model WikiItemViewModel
@inject IWikiOptions WikiOptions
@inject IWikiWebOptions WikiWebOptions

@if (Model.Data.WikiItem is WikiFile file)
{
    if (file.FileType.StartsWith("image"))
    {
        <div class="wiki-image-link">
            <a href="@file.FilePath" title="View this file">
                <img alt="@file.Title" src="@file.FilePath" />
            </a>
        </div>
    }
    <p class="wiki-file-info">
        <a href="@file.FilePath" title="View this file">@Model.Data.Title</a>
        <span>(file size: @WikiFile.GetFileSizeString(file.FileSize), MIME type: @file.FileType)</span>
    </p>
    <div class="wiki-parser-output">@Html.Raw(Model.Html)</div>
}
else
{
    <div class="wiki-file-missing">
        <p>The file associated with "@Model.Data.Title" is missing.</p>
        <p>You can <a href="/@WikiOptions.WikiLinkPrefix/@WikiWebOptions.SystemNamespace:Upload" class="wiki-link wiki-link-exists">upload</a> a new file to replace it.</p>
    </div>
}
