@model GroupViewModel
@inject IWikiOptions WikiOptions
@inject IWikiWebOptions WikiWebOptions

<div class="wiki-site-subtitle">From @WikiOptions.SiteName</div>
@if (Model.IsDiff)
{
    <div class="wiki-parser-output wiki-diff">@Html.Raw(Model.Html)</div>
}
else
{
    <div class="wiki-parser-output">@Html.Raw(Model.Html)</div>
}
@if (Model.Users.Count > 0)
{
    <h2>Members</h2>
    <p>This group has the following @($"{Model.Users.Count:N0}") members.</p>
    <ul class="wiki-group-list">
        @foreach (var user in Model.Users)
        {
            <li>
                <a class="wiki-username wiki-username-link @(user.PageExists ? string.Empty : "wiki-link-missing")"
                   asp-route-title="@user.Id"
                   asp-route-wikiNamespace="@WikiWebOptions.UserNamespace"
                   asp-action="Read"
                   title="Visit the user page for @(user.UserName)">@user.UserName</a>
            </li>
        }
    </ul>
}
