@model HistoryViewModel

@if (Model.Revisions.Count == 0)
{
    <div class="wiki-history-nocontent">
        <p>No revisions match the current filter.</p>
    </div>
}
else
{
    <div class="wiki-history-filter">
        <EditForm Model="_formModel" OnSubmit="FilterHistory">
            <fieldset>
                <legend role="button" tabindex="0" aria-expanded="false">
                    <span>Filter</span>
                    <button id="wiki-history-filter-hide-button"
                            class="btn btn-outline-secondary"
                            type="button"
                            aria-label="hide"
                            style="display: none;"
                            onclick="toggleWikiHistoryFilter(event, false);"
                            onkeydown="toggleWikiHistoryFilter(event, false);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                            <title>collapse</title>
                            <path d="M2.5 15.25l7.5-7.5 7.5 7.5 1.5-1.5-9-9-9 9z" />
                        </svg>
                    </button>
                    <button id="wiki-history-filter-show-button"
                            class="btn btn-outline-secondary"
                            type="button"
                            aria-label="show"
                            onclick="toggleWikiHistoryFilter(event, true);"
                            onkeydown="toggleWikiHistoryFilter(event, true);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                            <title>expand</title>
                            <path d="M17.5 4.75l-7.5 7.5-7.5-7.5L1 6.25l9 9 9-9z" />
                        </svg>
                    </button>
                </legend>
                <form id="wiki-history-filter-controls"
                      style="display: none;"
                      asp-controller="Wiki"
                      asp-route-isCompact="@Model.Data.IsCompact"
                      asp-action="History"
                      method="get">
                    <div class="form-group">
                        <label for="wiki-history-filter-startdate">Start date</label>
                        <input id="wiki-history-filter-startdate"
                               class="form-control"
                               type="datetime"
                               name="start" />
                    </div>
                    <div class="form-group">
                        <label for="wiki-history-filter-enddate">End date</label>
                        <input id="wiki-history-filter-enddate"
                               class="form-control"
                               type="datetime"
                               name="end" />
                    </div>
                    <div class="form-group">
                        <label for="wiki-history-filter-user">User</label>
                        <input id="wiki-history-filter-user"
                               class="form-control"
                               type="text"
                               name="editor" />
                    </div>
                    <button class="btn btn-primary" type="submit" tabindex="0">Apply filter</button>
                </form>
            </fieldset>
        </EditForm>
    </div>
    <div class="wiki-history-instructions">Click on the date/time to view a revision.</div>
    <div class="wiki-pagecontrols">
        <nav>
            <ul class="pagination">
                @if (Model.Revisions.HasPreviousPage)
                {
                    <li class="page-item"><a class="page-link" asp-route-pageNumber="1">Newest</a></li>
                    <li class="page-item"><a class="page-link" asp-route-pageNumber="@(Model.Revisions.PageNumber - 1)">Newer</a></li>
                }
                else
                {
                    <li class="page-item">Newest</li>
                    <li class="page-item">Newer</li>
                }
                @if (Model.Revisions.HasNextPage)
                {
                    <li class="page-item"><a class="page-link" asp-route-pageNumber="@(Model.Revisions.PageNumber + 1)">Older</a></li>
                    <li class="page-item"><a class="page-link" asp-route-pageNumber="@(Model.Revisions.TotalPages)">Oldest</a></li>
                }
                else
                {
                    <li class="page-item">Older</li>
                    <li class="page-item">Oldest</li>
                }
            </ul>
        </nav>
        <div>
            <span>Number of revisions per page:</span>
            <ul class="pagination">
                <li class="page-item">
                    @if (Model.Revisions.PageSize == 50)
                    {
                        <span>50</span>
                    }
                    else
                    {
                        <a asp-route-pageSize="50">50</a>
                    }
                </li>
                <li class="page-item">
                    @if (Model.Revisions.PageSize == 100)
                    {
                        <span>100</span>
                    }
                    else
                    {
                        <a asp-route-pageSize="100">100</a>
                    }
                </li>
                <li class="page-item">
                    @if (Model.Revisions.PageSize == 250)
                    {
                        <span>250</span>
                    }
                    else
                    {
                        <a asp-route-pageSize="250">250</a>
                    }
                </li>
                <li class="page-item">
                    @if (Model.Revisions.PageSize == 500)
                    {
                        <span>500</span>
                    }
                    else
                    {
                        <a asp-route-pageSize="500">500</a>
                    }
                </li>
            </ul>
        </div>
    </div>
    <form class="wiki-history-list" asp-controller="Wiki" asp-route-isCompact="@Model.Data.IsCompact" asp-action="Read" method="get">
        <input id="wiki-history-check1" type="hidden" name="rev" value="" />
        <input id="wiki-history-check2" type="hidden" name="diff" value="" />
        @if (!Model.Data.IsFile)
        {
            <button type="submit" class="btn btn-outline-primary">Compare selected versions</button>
        }
        <ul>
            <li>
                @if (!Model.Data.IsFile)
                {
                    <span class="wiki-history-list-diffs">
                        @if (Model.Revisions.HasPreviousPage)
                        {
                            <a asp-route-wikiNamespace="@Model.Data.WikiNamespace" asp-route-title="@Model.Data.Title" asp-action="Read" asp-route-isCompact="@Model.Data.IsCompact" asp-route-rev="@Model.Revisions[0].Revision.TimestampTicks" asp-route-diff="cur" title="Compare with the current version">cur</a>
                        }
                        else
                        {
                            <span>cur</span>
                        }
                        @if (Model.Revisions.Count > 1)
                        {
                            <a asp-route-wikiNamespace="@Model.Data.WikiNamespace" asp-route-title="@Model.Data.Title" asp-action="Read" asp-route-isCompact="@Model.Data.IsCompact" asp-route-rev="@Model.Revisions[0].Revision.TimestampTicks" asp-route-diff="prev" title="Compare with the previous version">prev</a>
                        }
                        else
                        {
                            <span>prev</span>
                        }
                    </span>
                    <input type="checkbox"
                           onclick="checkWikiDiff(event, @Model.Revisions[0].Revision.TimestampTicks);"
                           onkeydown="checkWikiDiff(event, @Model.Revisions[0].Revision.TimestampTicks);" />
                }
                <a class="wiki-history-list-timestamp" asp-route-wikiNamespace="@Model.Data.WikiNamespace" asp-route-title="@Model.Data.Title" asp-action="Read" asp-route-isCompact="@Model.Data.IsCompact" asp-route-rev="@Model.Revisions[0].Revision.TimestampTicks">@Model.Revisions[0].Revision.Timestamp.ToWikiDisplayString()</a>
                @if (Model.Revisions[0].EditorExists)
                {
                    <a class="wiki-username wiki-username-link wiki-history-list-editor @(Model.Revisions[0].EditorPageExists ? string.Empty : "wiki-link-missing")"
                       href="/Wiki/@(WikiWebConfig.UserNamespace):@(Model.Revisions[0].Revision.Editor)"
                       title="Visit the user page for @(Model.Revisions[0].EditorName)">@Model.Revisions[0].EditorName</a>
                }
                else
                {
                    <span class="wiki-username wiki-username-nolink wiki-history-list-editor"
                          href="/Wiki/@(WikiWebConfig.UserNamespace):@(Model.Revisions[0].Revision.Editor)">
                        @Model.Revisions[0].EditorName
                    </span>
                }
                <span>@Model.Revisions[0].Revision.Comment</span>
            </li>
            @for (var i = 1; i < Model.Revisions.Count - 2; i++)
            {
                <li>
                    @if (!Model.Data.IsFile)
                    {
                        <span class="wiki-history-list-diffs">
                            <a asp-route-wikiNamespace="@Model.Data.WikiNamespace" asp-route-title="@Model.Data.Title" asp-action="Read" asp-route-isCompact="@Model.Data.IsCompact" asp-route-rev="@Model.Revisions[i].Revision.TimestampTicks" asp-route-diff="cur" title="Compare with the current version">cur</a>
                            <a asp-route-wikiNamespace="@Model.Data.WikiNamespace" asp-route-title="@Model.Data.Title" asp-action="Read" asp-route-isCompact="@Model.Data.IsCompact" asp-route-rev="@Model.Revisions[i].Revision.TimestampTicks" asp-route-diff="prev" title="Compare with the previous version">prev</a>
                        </span>
                        <input type="checkbox"
                               onclick="checkWikiDiff(event, @Model.Revisions[i].Revision.TimestampTicks);"
                               onkeydown="checkWikiDiff(event, @Model.Revisions[i].Revision.TimestampTicks);" />
                    }
                    <a class="wiki-history-list-timestamp"
                       asp-route-wikiNamespace="@Model.Data.WikiNamespace"
                       asp-route-title="@Model.Data.Title" asp-action="Read"
                       asp-route-isCompact="@Model.Data.IsCompact"
                       asp-route-rev="@Model.Revisions[i].Revision.TimestampTicks">@Model.Revisions[i].Revision.Timestamp.ToWikiDisplayString()</a>
                    @if (Model.Revisions[i].EditorExists)
                    {
                        <a class="wiki-username wiki-username-link wiki-history-list-editor @(Model.Revisions[i].EditorPageExists ? string.Empty : "wiki-link-missing")"
                           href="/Wiki/@(WikiWebConfig.UserNamespace):@(Model.Revisions[i].Revision.Editor)"
                           title="Visit the user page for @(Model.Revisions[i].EditorName)">@Model.Revisions[i].EditorName</a>
                    }
                    else
                    {
                        <span class="wiki-username wiki-username-nolink wiki-history-list-editor"
                              href="/Wiki/@(WikiWebConfig.UserNamespace):@(Model.Revisions[i].Revision.Editor)">
                            @Model.Revisions[i].EditorName
                        </span>
                    }
                    <span>@Model.Revisions[i].Revision.Comment</span>
                </li>
            }
            @if (Model.Revisions.Count > 1)
            {
                <li>
                    @if (!Model.Data.IsFile)
                    {
                        <span class="wiki-history-list-diffs">
                            <a asp-route-wikiNamespace="@Model.Data.WikiNamespace" asp-route-title="@Model.Data.Title" asp-action="Read" asp-route-isCompact="@Model.Data.IsCompact" asp-route-rev="@Model.Revisions[(int)(Model.Revisions.Count - 1)].Revision.TimestampTicks" asp-route-diff="cur" title="Compare with the current version">cur</a>
                            @if (Model.Revisions.HasNextPage)
                            {
                                <a asp-route-wikiNamespace="@Model.Data.WikiNamespace" asp-route-title="@Model.Data.Title" asp-action="Read" asp-route-isCompact="@Model.Data.IsCompact" asp-route-rev="@Model.Revisions[(int)(Model.Revisions.Count - 1)].Revision.TimestampTicks" asp-route-diff="prev" title="Compare with the previous version">prev</a>
                            }
                            else
                            {
                                <span>prev</span>
                            }
                        </span>
                        <input type="checkbox"
                               onclick="checkWikiDiff(event, @Model.Revisions[(int)(Model.Revisions.Count - 1)].Revision.TimestampTicks);"
                               onkeydown="checkWikiDiff(event, @Model.Revisions[(int)(Model.Revisions.Count - 1)].Revision.TimestampTicks);" />
                    }
                    <a class="wiki-history-list-timestamp" asp-route-wikiNamespace="@Model.Data.WikiNamespace" asp-route-title="@Model.Data.Title" asp-action="Read" asp-route-isCompact="@Model.Data.IsCompact" asp-route-rev="@Model.Revisions[(int)(Model.Revisions.Count - 1)].Revision.TimestampTicks">@Model.Revisions[(int)(Model.Revisions.Count - 1)].Revision.Timestamp.ToWikiDisplayString()</a>
                    @if (Model.Revisions[(int)(Model.Revisions.Count - 1)].EditorExists)
                    {
                        <a class="wiki-username wiki-username-link wiki-history-list-editor @(Model.Revisions[(int)(Model.Revisions.Count - 1)].EditorPageExists ? string.Empty : "wiki-link-missing")"
                           href="/Wiki/@(WikiWebConfig.UserNamespace):@(Model.Revisions[(int)(Model.Revisions.Count - 1)].Revision.Editor)"
                           title="Visit the user page for @(Model.Revisions[(int)(Model.Revisions.Count - 1)].EditorName)">@Model.Revisions[(int)(Model.Revisions.Count - 1)].EditorName</a>
                    }
                    else
                    {
                        <span class="wiki-username wiki-username-nolink wiki-history-list-editor"
                              href="/Wiki/@(WikiWebConfig.UserNamespace):@(Model.Revisions[(int)(Model.Revisions.Count
                              - 1)].Revision.Editor)">
                            @Model.Revisions[(int)(Model.Revisions.Count - 1)].EditorName
                        </span>
                    }
                    <span>@Model.Revisions[(int)(Model.Revisions.Count - 1)].Revision.Comment</span>
                </li>
            }
        </ul>
        @if (!Model.Data.IsFile)
        {
            <button type="submit" class="btn btn-outline-primary">Compare selected versions</button>
        }
    </form>
    <div class="wiki-pagecontrols">
        <nav>
            <ul class="pagination">
                @if (Model.Revisions.HasPreviousPage)
                {
                    <li class="page-item"><a class="page-link" asp-route-pageNumber="1">Newest</a></li>
                    <li class="page-item"><a class="page-link" asp-route-pageNumber="@(Model.Revisions.PageNumber - 1)">Newer</a></li>
                }
                else
                {
                    <li class="page-item">Newest</li>
                    <li class="page-item">Newer</li>
                }
                @if (Model.Revisions.HasNextPage)
                {
                    <li class="page-item"><a class="page-link" asp-route-pageNumber="@(Model.Revisions.PageNumber + 1)">Older</a></li>
                    <li class="page-item"><a class="page-link" asp-route-pageNumber="@(Model.Revisions.TotalPages)">Oldest</a></li>
                }
                else
                {
                    <li class="page-item">Older</li>
                    <li class="page-item">Oldest</li>
                }
            </ul>
        </nav>
        <div>
            <span>Number of revisions per page:</span>
            <ul class="pagination">
                <li class="page-item">
                    @if (Model.Revisions.PageSize == 50)
                    {
                        <span>50</span>
                    }
                    else
                    {
                        <a class="page-link" asp-route-pageSize="50">50</a>
                    }
                </li>
                <li class="page-item">
                    @if (Model.Revisions.PageSize == 100)
                    {
                        <span>100</span>
                    }
                    else
                    {
                        <a class="page-link" asp-route-pageSize="100">100</a>
                    }
                </li>
                <li class="page-item">
                    @if (Model.Revisions.PageSize == 250)
                    {
                        <span>250</span>
                    }
                    else
                    {
                        <a class="page-link" asp-route-pageSize="250">250</a>
                    }
                </li>
                <li class="page-item">
                    @if (Model.Revisions.PageSize == 500)
                    {
                        <span>500</span>
                    }
                    else
                    {
                        <a class="page-link" asp-route-pageSize="500">500</a>
                    }
                </li>
            </ul>
        </div>
    </div>
}

@section Scripts {
    <script>
        function toggleWikiHistoryFilter(e, val) {
            e = e || window.event;
            if (e.isComposing || e.keyCode === 229 || (e.key && e.key !== "Enter")) {
                return;
            }
            if (val) {
                let x = document.getElementById('wiki-history-filter-hide-button');
                x.style.display = 'inline-block';
                let y = document.getElementById('wiki-history-filter-show-button');
                y.style.display = 'none';
                let z = document.getElementById('wiki-history-filter-controls');
                z.style.display = 'block';
            } else {
                let x = document.getElementById('wiki-history-filter-hide-button');
                x.style.display = 'none';
                let y = document.getElementById('wiki-history-filter-show-button');
                y.style.display = 'inline-block';
                let z = document.getElementById('wiki-history-filter-controls');
                z.style.display = 'none';
            }
        }
        function checkWikiDiff(e, timestamp) {
            e = e || window.event;
            if (e.isComposing || e.keyCode === 229 || (e.key && e.key !== "Enter")) {
                return;
            }
            const cb = e.currentTarget || {};
            window.wikimvc.historyDiffCheckLast = window.wikimvc.historyDiffCheckLast || 2;
            let input;
            if (window.wikimvc.historyDiffCheckLast === 2) {
                input = document.getElementById('wiki-history-check1');
                if (cb.checked) {
                    if (window.wikimvc.historyDiffCheck1) {
                        window.wikimvc.historyDiffCheck1.checked = false;
                    }
                    window.wikimvc.historyDiffCheck1 = input;
                    window.wikimvc.historyDiffCheckLast = 1;
                }
            } else {
                input = document.getElementById('wiki-history-check2');
                if (cb.checked) {
                    if (window.wikimvc.historyDiffCheck2) {
                        window.wikimvc.historyDiffCheck2.checked = false;
                    }
                    window.wikimvc.historyDiffCheck2 = input;
                    window.wikimvc.historyDiffCheckLast = 2;
                }
            }
            if (cb.checked) {
                input.value = timestamp;
            } else {
                input.value = "";
            }
        }
    </script>
}
